table,th,tr,td {
	padding: 0;
}
.dot {
	background: green;
	width: 9px;
	height: 9px;
	border-radius: 50%;
}

table{
	background-color: #595959;
	height: 150px;
}
th{
	color: #A3B4A8;
	text-align: left;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: normal;
}

.lefttext{
	color: white;
	font-size: 11px;
	font-style: italic;
	font-style: sans-serif;
	font-weight: normal;
}
tr td:nth-child(-3+1){
width: 200px;
}
