table{
  border: 1px solid #D0D7E5;
   border-radius: 5px;
}
td{
  border: 1px solid #D0D7E5;
   border-radius: 1px;
}

thead{
  background-color: #E7E9EB;
  font-size: 14px;
}
tfoot{
  background-color: #E7E9EB;
  font-size: 14px;
}
.button{
  background-color: #F0F1F3;
  border: none;
}
#lasttd{
  text-align: right;
}
